.authPage{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden
}
.authPagecontents{
    
}
.appFooter{
    top: auto
}
@tailwind base;
@tailwind components;
@tailwind utilities;